
service-nodejs/node_modules/

service-nodejs/package-lock\.json
client-android/.idea/misc.xml
service/alerte/.vs/VSWorkspaceState.json
service/alerte/.vs/slnx.sqlite
service/alerte/.vs/ProjectSettings.json
service/alerte/.vs/alerte/v15/.suo
service/.vs/slnx.sqlite
service/.vs/service/v15/.suo
service/.vs/ProjectSettings.json
client-android/.idea/misc.xml
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/projet-capture-2018-VinSey1/v15/.suo
.vs/ProjectSettings.json